<ul>
  <% @seasons.each do |season| %>
    <li>
      <a href="/season/<%= season.id %>"> <%= season.season_name %> </a>
      </br>
      <img src= <%= season.poster_path %> >
      <p>Overview: <%= season.overview %> </p>
    </li>
  <% end %>
  <% if params[:page].to_i > 1 %>
    <%= link_to "Previous", root_path(page: params[:page].to_i - 1) %>
  <% end %>
  
  <% if @seasons.size == @per_page %>
    <%= link_to "Next", root_path(page: params[:page].to_i + 1) %>
  <% end %>
</ul>
