<ul>
  <% @seasons.each do |season| %>
    <div class="container">
      <div class="row">
        <div class="col-sm">
         <a href="/seasons/<%= season.id %>"> <%= season.season_name %> </a>
        </div>
      <div class="col-sm">
      <img src= <%= season.poster_path %> >
      </div>
      <div class="col-sm">
      Overview: <%= season.overview %>
      </div>
  </div>
</div>
  <% end %>
  <% if params[:page].to_i > 1 %>
    <%= link_to "Previous", root_path(page: params[:page].to_i - 1) %>
  <% end %>
  
  <% if @seasons.size == @per_page %>
    <%= link_to "Next", root_path(page: params[:page].to_i + 1) %>
  <% end %>
</ul>
