<div class="container">
      <div class="row">
        <div class="col-sm">
         Show Cover:
        </div>
      <div class="col-sm">
       Name: 
      </div>
      <div class="col-sm">
      Overview: 
      </div>
      <div class="col-sm">
      Vote Average:
      </div>
  </div>
</div>



  <% @shows.each do |show| %>
     <div class="container">
      <div class="row">
        <div class="col-sm">
        <a href="/shows/<%= show.id %>"><img src= <%= show.image %> class="img-fluid" alt="Responsive image"> </a>
        </div>
      <div class="col-sm">
      <a href="/shows/<%= show.id %>"> <%= show.title %> </a>
      </div>
      <div class="col-sm">
      <%= show.overview %>
      </div>
      <div class="col-sm">
      <%= show.avg_rating %>
      </div>
  <% end %>
  
  <%= will_paginate @shows %>