<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Show Db" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/shows/">Shows</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/seasons/">Seasons</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/episodes/">Episodes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about/">About</a>
        </li>
      </ul>
        <%= form_tag "/shows", method: "GET" do %>
          <%= label_tag :search_by_show %>
          <%= text_field_tag :search_by_show, params[:search_by_show] %>
        <% end %>
      </form>
    </div>
  </nav>
    </header
    <%= yield %>
  </body>
</html>
